<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Revisão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="n1" label="Primeiro Numero" labelPlacement="floating" placeholder="Digite o primeiro valor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="n2" label="Segundo Numero" labelPlacement="floating" placeholder="Digite o segundo valor"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="somar()">Somar</ion-button>
  <ion-button expand="full" (click)="subtrair()">Subtrair</ion-button>
  <ion-button expand="full" (click)="multiplicar()">Multiplicar</ion-button>
  <ion-button expand="full" (click)="dividir()">Dividir</ion-button>

  <ion-label>O resultado é: {{nfinal}} </ion-label>

</ion-content>
